NODE_ENV=development
PORT=3000

# PostgreSQL connection string
DATABASE_URL="postgresql://........"

JWT_SECRET=test-jwt-secret-at-least-thirty-two-chars!!
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

JWT_ACCESS_SECRET=test-access-secret-at-least-thirty-two-characters-long
JWT_REFRESH_SECRET=test-refresh-secret-at-least-thirty-two-characters-long

REDIS_HOST=
REDIS_PORT=6379
REDIS_URL=redis://.......

OPENAI_API_KEY=.......
OPENAI_BASE_URL=.......
