NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://USER:PASSWORD@127.0.0.1:5433/capstone"

JWT_SECRET=
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# OPENAI_API_KEY=
# REDIS_URL=redis://localhost:6379
